<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.manhhdc.qltk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/Theme.QLTK"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".views.AddViPham"
            android:exported="false" />
        <activity
            android:name=".views.AddThuThu"
            android:exported="false" />
        <activity
            android:name=".views.AddTheLoai"
            android:exported="false" />
        <activity
            android:name=".views.AddDangKy"
            android:exported="false" />
        <activity
            android:name=".views.AddTaiLieu"
            android:exported="false" />
        <activity
            android:name=".views.AddTacGia"
            android:exported="false" />
        <activity
            android:name=".views.AddPhieuMuon"
            android:exported="false" />
        <activity
            android:name=".views.AddNXB"
            android:exported="false" />
        <activity
            android:name=".views.AddLop"
            android:exported="false" />
        <activity
            android:name=".views.AddKhoa"
            android:exported="false" />
        <activity
            android:name=".views.AddDocGia"
            android:exported="false" />
        <activity
            android:name=".views.AddTaiKhoan"
            android:exported="false" />
        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/network_security_config" />

        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.QLTK.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.QLTK.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>